<%- include('../layout/adminLayouts/header') -%>


    <body>
        <div class="container-fluid position-relative d-flex p-0">
            <!-- Spinner Start -->
            <!-- <div id="spinner"
                class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div> -->
            <!-- Spinner End -->


            <%- include('../layout/adminLayouts/sidebar') -%>


                <!-- Content Start -->
                <div class="content">
                    <!-- Navbar Start -->
                    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                        <a href="/admin" class="navbar-brand d-flex d-lg-none me-4">
                            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                        </a>
                        <a href="#" class="sidebar-toggler flex-shrink-0">
                            <i class="fa fa-bars"></i>
                        </a>
                        <form class="d-none d-md-flex ms-4">
                            <input class="form-control bg-dark border-0" id="navbar-search" type="search"
                                placeholder="Search">
                        </form>
                        <div class="navbar-nav align-items-center ms-auto ">
                            <div class="nav-item dropdown me-3">
                                <a href="/admin/addCategories" class="nav-link">
                                    <i class="fa fa-envelope me-lg-2"></i>
                                    <span class="d-none d-lg-inline-flex">Add Category </span>
                                </a>

                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    <img class="rounded-circle me-lg-2" src="/adminAssets/img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <span class="d-none d-lg-inline-flex">Sanjay k</span>
                                </a>
                                <div
                                    class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                                    <a href="#" class="dropdown-item">My Profile</a>
                                    <a href="#" class="dropdown-item">Settings</a>
                                    <a href="/admin/logout" class="dropdown-item">Log Out</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <!-- Navbar End -->


                    <!-- Table Start -->
                    <div class="container-fluid pt-4 px-4">
                        <div class="col-12">
                            <div class="bg-secondary rounded h-100 p-4">
                                <h6 class="mb-4">Categories</h6>
                                <div class="table-responsive">
                                    <table class="table" id="myDataTable">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Offers</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="categoryTableBody">
                                            <% if(categories.length> 0) { %>
                                                <% for (let i=0; i < categories.length; i++) { %>
                                                    <tr id="categoryRow_<%= categories[i]._id %>">
                                                        <td>
                                                            <%= i + 1 %>
                                                        </td>
                                                        <td>
                                                            <%= categories[i].name %>
                                                        </td>
                                                        <td>
                                                            <%= categories[i].description %>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-outline-warning btn-sm"
                                                                data-bs-dismiss="modal">Apply
                                                                Offer</button>
                                                        </td>
                                                        <td>
                                                            <span id="status_<%=categories[i]._id%>"
                                                                class="status-badge">
                                                                <% if(categories[i].isListed) { %>
                                                                    <span
                                                                        class="badge rounded-pill alert-success">Listed</span>
                                                                    <% } else { %>
                                                                        <span
                                                                            class="badge rounded-pill alert-warning">Unlisted</span>
                                                                        <% } %>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <a
                                                                href="/admin/editCategories?categoryId=<%= categories[i]._id %>">
                                                                <button class="btn btn-outline-warning btn-sm"
                                                                    type="submit">Edit</button>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <button
                                                                class="btn btn-delete-category btn-outline-danger btn-sm"
                                                                data-category-id="<%= categories[i]._id %>"
                                                                onclick="deleteCategory('<%= categories[i]._id %>')">Delete</button>

                                                        </td>
                                                        <td>
                                                            <button
                                                                class="btn category-status btn-sm <%= categories[i].isListed ? 'btn-outline-danger' : 'btn-outline-success' %>"
                                                                data-category-id="<%= categories[i]._id %>"
                                                                data-current-status="<%= categories[i].isListed ? 'Unlisted' : 'Listed' %>"
                                                                onclick="updateCategoryStatus('<%= categories[i]._id %>')">
                                                                <% if(categories[i].isListed) { %>
                                                                    Unlist
                                                                    <% } else { %>
                                                                        List
                                                                        <% } %>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="7">Category Not Found</td>
                                                            </tr>
                                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table End -->


                    <!-- Modal Start -->
                    <div class="modal fade" id="applyOfferModal" tabindex="-1" aria-labelledby="applyOfferModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="applyOfferModalLabel">Available Offers</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <% for (let i=0; i < offers.length; i++) { %>
                                    <div class="modal-body">
                                        <ul>

                                            <li>
                                                <%= offers[i].name %>
                                            </li>
                                            <li>
                                                <%= offers[i].percentage %> %
                                            </li>
                                            <li>
                                                <%= moment(offers.startingDate).format('MM/DD/YYYY') %>
                                            </li>
                                            <li>
                                                <%= moment(offers.expiryDate).format('MM/DD/YYYY') %>
                                            </li>
                                            <button type="button" class="btn btn-primary btn-sm"
                                                data-bs-dismiss="modal">Apply
                                                Offer</button>
                                        </ul>
                                    </div>
                                    <% } %>
                                        <div class="modal-footer">

                                        </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->

                    <%- include('../layout/adminLayouts/footer') -%>

                        <style>
                            div.dataTables_wrapper div.search-form {
                                float: right;
                                margin-top: -38px;
                                /* Adjust this value as needed */
                            }
                        </style>

                        <script>

                            var $j = jQuery.noConflict()

                            $j(document).ready(function () {
                                $j('#myDataTable').DataTable({
                                    "dom": '<"top"lf>t<"bottom"ip>'
                                });

                            });


                            document.addEventListener('DOMContentLoaded', function () {
                                console.log('Script is running!');
                                // Event listener for delete buttons
                                document.querySelectorAll('.btn-delete-category').forEach(function (button) {
                                    button.addEventListener('click', function () {
                                        const categoryId = this.getAttribute('data-category-id');
                                        // console.log(categoryId);
                                        deleteCategory(categoryId);
                                    });
                                });

                                // Event listener for category status buttons
                                document.querySelectorAll('.category-status').forEach(function (button) {
                                    button.addEventListener('click', function () {
                                        const categoryId = this.getAttribute('data-category-id');
                                        const currentStatus = this.getAttribute('data-current-status');
                                        const newStatus = (currentStatus === 'Unlisted') ? 'Listed' : 'Unlisted';
                                        updateCategoryStatus(categoryId, newStatus);
                                    });
                                });
                            });

                            function deleteCategory(categoryId) {
                                if (categoryId) {
                                    // SweetAlert to confirm the deletion
                                    Swal.fire({
                                        title: 'Are you sure?',
                                        text: 'Once deleted, you will not be able to recover this category!',
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Yes, delete it!'

                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            // If the user confirms, proceed with the fetch request for deletion
                                            fetch(`/admin/deleteCategories/${categoryId}`, {
                                                method: 'DELETE',
                                                headers: {
                                                    'Content-Type': 'application/json',
                                                },
                                            })
                                                .then(response => response.json())
                                                .then(data => {
                                                    if (data.success) {
                                                        const rowToRemove = document.getElementById(`categoryRow_${categoryId}`);
                                                        if (rowToRemove) {
                                                            rowToRemove.remove();
                                                            Swal.fire(
                                                                'Deleted!',
                                                                'Your category has been deleted.',
                                                                'success'
                                                            );
                                                        } else {
                                                            console.error('Failed to find category row in the DOM');
                                                        }
                                                    } else {
                                                        console.error('Failed to delete category. Server returned:', data.message);
                                                    }
                                                })
                                                .catch(error => console.error('Error:', error));
                                        }
                                    });
                                } else {
                                    console.error('Invalid category ID:', categoryId);
                                }
                            }


                            function updateCategoryStatus(categoryId, action) {
                                // Determine action text based on the value
                                const actionText = action === 'unlist' ? 'list' : 'unlist';

                                // SweetAlert to confirm the action
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: `Do you want to ${actionText} this category?`,
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        // If the user confirms, proceed with the fetch request
                                        fetch(`/admin/categories/${action}/${categoryId}`, {
                                            method: 'POST'
                                        })
                                            .then(response => response.json())
                                            .then(data => {
                                                // Update the UI
                                                const statusElement = document.getElementById(`status_${categoryId}`);
                                                const button = document.querySelector(`.category-status[data-category-id="${categoryId}"]`);

                                                if (data.categories.isListed) {
                                                    statusElement.innerHTML = '<span class="badge rounded-pill alert-warning">Unlisted</span>';
                                                    button.innerText = 'Unlist';
                                                    button.classList.remove('btn-danger');
                                                    button.classList.add('btn-success');
                                                } else {
                                                    statusElement.innerHTML = '<span class="badge rounded-pill alert-success">Listed</span>';
                                                    button.innerText = 'List';
                                                    button.classList.remove('btn-success');
                                                    button.classList.add('btn-danger');
                                                }
                                                location.reload()
                                            })
                                            .catch(error => {
                                                console.log("Error:", error);
                                            });
                                    }
                                });
                            }
                        </script>