<%- include('../layout/adminLayouts/header') -%>
    <style>
        /* Add this CSS to customize the modal */
        #applyOfferModal {
            background-color: rgba(0, 0, 0, 0.7);
            /* Semi-transparent black background */
        }

        .modal-content {
            background-color: #282c34;
            /* Dark background color */
            color: #ffffff;
            /* Text color */
        }

        .modal-header {
            border-bottom: 1px solid #495057;
            /* Border color for the header */
        }

        .modal-title {
            color: #ffc107;
            /* Title text color */
        }

        .modal-body {
            padding: 20px;
        }

        .modal-body ul {
            list-style: none;
            /* Remove default list styles */
            padding: 0;
        }

        .modal-body li {
            margin-bottom: 10px;
        }

        .modal-footer {
            border-top: 1px solid #495057;
            /* Border color for the footer */
        }

        /* Style the close button */
        .btn-close {
            color: #ffffff;
        }

        /* Apply Offer button */
        .btn-primary {
            background-color: #ffc107;
            /* Button background color */
            border-color: #ffc107;
            /* Button border color */
            color: #282c34;
            /* Button text color */
        }

        /* Adjust the modal size */
        .modal-dialog {
            max-width: 800px;
        }

        /* Optional: Add padding to the sides of the modal on smaller screens */
        @media (max-width: 767px) {
            .modal-dialog {
                margin: 0 !important;
                max-width: 100%;
                width: 100%;
            }
        }
    </style>

    <body>
        <div class="container-fluid position-relative d-flex p-0">
            <!-- Spinner Start -->
            <!-- <div id="spinner"
                class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div> -->
            <!-- Spinner End -->


            <%- include('../layout/adminLayouts/sidebar') -%>


                <!-- Content Start -->
                <div class="content">
                    <!-- Navbar Start -->
                    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                        <a href="/admin" class="navbar-brand d-flex d-lg-none me-4">
                            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                        </a>
                        <a href="#" class="sidebar-toggler flex-shrink-0">
                            <i class="fa fa-bars"></i>
                        </a>
                        <form class="d-none d-md-flex ms-4">
                            <input class="form-control bg-dark border-0" id="navbar-search" type="search"
                                placeholder="Search by Name">
                        </form>
                        <div class="navbar-nav align-items-center ms-auto ">
                            <div class="nav-item dropdown me-3">
                                <a href="/admin/addProducts" class="nav-link">
                                    <i class="fa fa-envelope me-lg-2"></i>
                                    <span class="d-none d-lg-inline-flex">Add Products </span>
                                </a>

                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    <img class="rounded-circle me-lg-2" src="/adminAssets/img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <span class="d-none d-lg-inline-flex">Sanjay k</span>
                                </a>
                                <div
                                    class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                                    <a href="#" class="dropdown-item">My Profile</a>
                                    <a href="#" class="dropdown-item">Settings</a>
                                    <a href="/admin/logout" class="dropdown-item">Log Out</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <!-- Navbar End -->


                    <!-- Table Start -->
                    <div class="container-fluid pt-4 px-4">
                        <div class="col-12">
                            <div class="bg-secondary rounded h-100 p-4">
                                <h6 class="mb-4">Products</h6>
                                <div class="table-responsive ">
                                    <table class="table" id="myDataTable">
                                        <thead>
                                            <tr>

                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Image</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Offer</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Action</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(products.length> 0) { %>
                                                <% for(let i=products.length - 1; i>= 0; i--) { %>
                                                    <tr>
                                                        <td>
                                                            <%i+1%>
                                                        </td>
                                                        <td>
                                                            <%= products[i].name %>
                                                        </td>
                                                        <td>
                                                            <img src="/sharpImages/<%= products[i].image[0] %>"
                                                                class="img-sm img-thumbnail" alt="" width="60px"
                                                                height="50px">
                                                        </td>
                                                        <td>
                                                            <%= products[i].category %>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-outline-warning"
                                                                style="font-size: 12px;" data-bs-toggle="modal"
                                                                data-bs-target="#applyOfferModal"
                                                                data-product-id="<%= products[i]._id %>">
                                                                Choose Offer
                                                            </button>
                                                        </td>

                                                        <td>
                                                            <%= products[i].price %>
                                                        </td>
                                                        <td>
                                                            <% if (products[i].isListed) { %>
                                                                <span class="badge bg-success badge-sm">Listed</span>
                                                                <% } else { %>
                                                                    <span
                                                                        class="badge bg-danger badge-sm">Unlisted</span>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <%= products[i].stockQuantity %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/editProducts/<%= products[i]._id %>">
                                                                <button class="btn btn-outline-primary btn-sm"
                                                                    type="submit">Edit</button>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-outline-success btn-sm"
                                                                onclick="toggleProductStatus('<%= products[i]._id %>')">
                                                                <%= products[i].isListed ? 'Unlist' : 'List' %>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button
                                                                class="btn btn-delete-category btn-outline-danger btn-sm"
                                                                onclick="deleteProduct('<%= products[i]._id %>')">Delete</button>

                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="9">Category Not Found</td>
                                                            </tr>
                                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table End -->

                    <!-- Modal Start -->
                    <div class="modal fade" id="applyOfferModal" tabindex="-1" aria-labelledby="applyOfferModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="applyOfferModalLabel">Available Offers</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <% for (let i=0; i < offers.length; i++) { %>
                                    <div class="modal-body">
                                        <ul>
                                            <!-- Offer details -->
                                            <li>
                                                <%= offers[i].name %>
                                            </li>
                                            <li>
                                                <%= offers[i].percentage %> %
                                            </li>
                                            <li>
                                                <%= moment(offers[i].startingDate).format('MM/DD/YYYY') %>
                                            </li>
                                            <li>
                                                <%= moment(offers[i].expiryDate).format('MM/DD/YYYY') %>
                                            </li>

                                            <!-- Apply Offer button with data attributes -->
                                            <button type="button" class="btn btn-primary btn-sm apply-offer-btn"
                                                data-bs-dismiss="modal" data-offer-id="<%= offers[i]._id %>"
                                                data-product-id="<%= products[i]._id %>">
                                                Apply Offer
                                            </button>
                                        </ul>
                                    </div>
                                    <% } %>

                                        <div class="modal-footer">

                                        </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->





                    <%- include('../layout/adminLayouts/footer') -%>
                        <script>

                            var $j = jQuery.noConflict();

                            $j(document).ready(function () {
                                $j('#myDataTable').DataTable({
                                    "order": [[0, "asc"]]
                                });
                            });



                            // Toggle the product status (list/unlist)
                            async function toggleProductStatus(productId, action) {
                                try {
                                    const actionText = action === 'unlist' ? 'list' : 'unlist';

                                    // SweetAlert for confirmation
                                    Swal.fire({
                                        title: 'Confirm Action',
                                        text: `Do you want to ${actionText} this product?`,
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#d33',
                                        cancelButtonColor: '#3085d6',
                                        confirmButtonText: `Yes, ${actionText} it!`
                                    }).then(async (result) => {
                                        if (result.isConfirmed) {
                                            const response = await fetch(`/admin/products/${productId}`, {
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/json',
                                                },
                                            });

                                            const data = await response.json();

                                            if (data.status) {
                                                location.reload();
                                            } else {
                                                console.error(`Failed to ${actionText.toLowerCase()} product status:`, data.message);
                                            }
                                        }
                                    });
                                } catch (error) {
                                    console.log(error);
                                }
                            }

                            function deleteProduct(productId) {
                                // Use SweetAlert for confirmation
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'Once deleted, you will not be able to recover this product!',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#d33',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, delete it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        fetch(`/admin/deleteProducts/${productId}`, {
                                            method: 'POST', // Use DELETE method
                                        })
                                            .then(response => response.json())
                                            .then(data => {
                                                if (data.success) {
                                                    Swal.fire('Deleted!', 'The product has been deleted.', 'success');
                                                    location.reload(); // reload the page after deletion
                                                } else {
                                                    console.error('Error:', data.error);
                                                    Swal.fire('Error', 'Failed to delete the product.', 'error');
                                                }
                                            })
                                            .catch(error => {
                                                console.error('Error:', error);
                                                Swal.fire('Error', 'Internal Server Error.', 'error');
                                            });
                                    }
                                });
                            }




                            document.addEventListener('DOMContentLoaded', function () {
                                let selectedProductId; // Variable to store the selected product ID

                                // Add event listener to all "Choose Offer" buttons in the table
                                document.querySelectorAll('.btn-outline-warning').forEach(function (button) {
                                    button.addEventListener('click', function () {
                                        selectedProductId = button.dataset.productId;
                                    });
                                });

                                // Add event listener to all "Apply Offer" buttons in the modal
                                document.querySelectorAll('.apply-offer-btn').forEach(function (button) {
                                    button.addEventListener('click', function () {
                                        const offerId = button.dataset.offerId;

                                        // Use the stored product ID instead of relying on the index 'i'
                                        const productId = selectedProductId;

                                        // Send a patch request to the server with offerId and productId
                                        fetch('/admin/applyProductOffer', {
                                            method: 'PATCH',
                                            headers: {
                                                'Content-Type': 'application/json',
                                            },
                                            body: JSON.stringify({ offerId, productId }), // Pass both offerId and productId in the request body
                                        })
                                            .then(response => response.json())
                                            .then(data => {
                                                console.log('Server Response:', data); // Log the entire response
                                                if (data.success) {
                                                    console.log('Offer applied successfully');
                                                    // Optionally, you can perform additional actions after successful application
                                                } else {
                                                    console.error('Failed to apply offer:', data.error);
                                                    // Handle the error case
                                                }
                                            })
                                            .catch(error => {
                                                console.error('Error:', error);
                                            });
                                    });
                                });
                            });


                        </script>