<%- include('../layout/adminLayouts/header') -%>

    <body>
        <div class="container-fluid position-relative d-flex p-0">
            <!-- Spinner Start -->
            <div id="spinner"
                class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Spinner End -->


            <%- include('../layout/adminLayouts/sidebar') -%>


                <!-- Content Start -->
                <div class="content">
                    <!-- Navbar Start -->
                    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                        <a href="/admin" class="navbar-brand d-flex d-lg-none me-4">
                            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                        </a>
                        <a href="#" class="sidebar-toggler flex-shrink-0">
                            <i class="fa fa-bars"></i>
                        </a>
                        <form class="d-none d-md-flex ms-4">
                            <input class="form-control bg-dark border-0" id="navbar-search" type="search"
                                placeholder="Search">
                        </form>
                        <div class="navbar-nav align-items-center ms-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    <img class="rounded-circle me-lg-2" src="/adminAssets/img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <span class="d-none d-lg-inline-flex">Sanjay k</span>
                                </a>
                                <div
                                    class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                                    <a href="#" class="dropdown-item">My Profile</a>
                                    <a href="#" class="dropdown-item">Settings</a>
                                    <a href="/admin/logout" class="dropdown-item">Log Out</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <!-- Navbar End -->

                    <!-- Table Start -->
                    <div class="container-fluid pt-4 px-4">
                        <div class="col-12">
                            <div class="bg-secondary rounded h-100 p-4">
                                <h6 class="mb-4">Categories</h6>
                                <div class="table-responsive ">
                                    <table class="table " id="usersTable">
                                        <thead>
                                            <tr>
                                                <th scope="col">Username</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Mobile</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(users.length> 0) { %>
                                                <% for (let i=0 ; i< users.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= users[i].username %>
                                                        </td>

                                                        <td>
                                                            <%= users[i].email %>
                                                        </td>

                                                        <td>
                                                            <%= users[i].mobile %>
                                                        </td>

                                                        <td>
                                                            <span id="status_<%= users[i]._id %>">
                                                                <% if(users[i].isBlocked) {%>
                                                                    <span
                                                                        class="badge rounded-pill alert-warning">Blocked</span>
                                                                    <% } else {%>
                                                                        <span
                                                                            class="badge rounded-pill alert-success">Active</span>
                                                                        <% } %>
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <button
                                                                class="btn btn-sm rounded font-sm user-status bg-danger <% if(users[i].isBlocked) { %>bg-success<% } %>"
                                                                data-user-id="<%=users[i]._id%>"
                                                                data-current-status="<%=users[i].isBlocked ? 'blocked' : 'active' %>">
                                                                <% if(users[i].isBlocked) { %>
                                                                    Unblock
                                                                    <% } else { %>
                                                                        Block
                                                                        <% } %>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="5">Users not found</td>
                                                            </tr>
                                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Table End -->



                    <%- include('../layout/adminLayouts/footer') -%>

                        <script>
                            var $j = jQuery.noConflict()

                            $j(document).ready(function () {
                                $j('#usersTable').DataTable({
                                })
                            })

                            document.addEventListener('DOMContentLoaded', function () {
                                // console.log('dom content downloaded');
                                document.querySelectorAll('.user-status').forEach(function (button) {
                                    button.addEventListener('click', function () {
                                        const userId = this.getAttribute('data-user-id');
                                        const currentStatus = this.getAttribute('data-current-status');
                                        const newStatus = (currentStatus === 'blocked') ? 'active' : 'blocked';

                                        // console.log('Button clicked for user ID:', userId);
                                        // console.log('Current status:', currentStatus);
                                        // console.log('New status:', newStatus);

                                        updateUserStatus(userId, newStatus);
                                    })
                                })
                            })

                            function updateUserStatus(userId, action) {
                                //  SweetAlert for confirmation
                                Swal.fire({
                                    title: 'Confirm Action',
                                    text: `Are you sure you want to ${action === 'blocked' ? 'block' : 'unblock'} this user?`,
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#d33',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, proceed!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        // If the user confirms, update the status
                                        fetch(`/admin/users/${action}/${userId}`, {
                                            method: 'POST'
                                        })
                                            .then((response) => response.json())
                                            .then((data) => {
                                                if (data.status === 'success') {
                                                    // Update the UI here
                                                    const statusElement = document.getElementById(`status_${userId}`);
                                                    const button = document.querySelector(`.user-status[data-user-id="${userId}"]`);

                                                    const isBlocked = data.user.isBlocked;
                                                    const statusText = isBlocked ? 'Blocked' : 'Active';
                                                    const badgeClass = isBlocked ? 'alert-warning' : 'alert-success';
                                                    const buttonClass = isBlocked ? 'bg-success' : 'bg-danger';

                                                    statusElement.innerHTML = `<span class="badge rounded-pill ${badgeClass}">${statusText}</span>`;
                                                    button.textContent = isBlocked ? 'Unblock' : 'Block';
                                                    button.classList.remove(isBlocked ? 'bg-danger' : 'bg-success');
                                                    button.classList.add(buttonClass);

                                                    // Show success message
                                                    Swal.fire('Success!', `User has been ${isBlocked ? 'blocked' : 'unblocked'}`, 'success');
                                                } else {
                                                    // Show error message
                                                    Swal.fire('Error!', 'Failed to update user status', 'error');
                                                }
                                            })
                                            .catch((error) => {
                                                // Show error message
                                                Swal.fire('Error!', 'Failed to update user status', 'error');
                                            });
                                    }
                                });
                            }

                        </script>