<%- include('../layout/adminLayouts/header') -%>

    <body>
        <div class="container-fluid position-relative d-flex p-0">
            <!-- Spinner Start -->
            <div id="spinner"
                class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Spinner End -->


            <!-- Sidebar Start -->
            <div class="sidebar pe-4 pb-3">
                <nav class="navbar bg-secondary navbar-dark">
                    <a href="#" class="navbar-brand mx-4 mb-3">
                        <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i></h3>
                    </a>
                    <div class="d-flex align-items-center ms-4 mb-4">
                        <div class="position-relative">
                            <img class="rounded-circle" src="/adminAssets/img/user.jpg" alt=""
                                style="width: 40px; height: 40px;">
                            <div
                                class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                            </div>
                        </div>
                        <div class="ms-3">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <span>Admin</span>
                        </div>
                    </div>
                    <div class="navbar-nav w-100">
                        <a href="/admin" class="nav-item nav-link "><i
                                class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                        <a href="/admin/users" class="nav-item nav-link active"><i
                                class="fa fa-keyboard me-2"></i>Users</a>
                        <a href="/admin/products" class="nav-item nav-link "><i
                                class="fa fa-tachometer-alt me-2"></i>Products</a>
                        <a href="/admin/Categories" class="nav-item nav-link "><i
                                class="fa fa-tachometer-alt me-2"></i>Categories</a>
                    </div>
                </nav>
            </div>
            <!-- Sidebar End -->


            <!-- Content Start -->
            <div class="content">
                <!-- Navbar Start -->
                <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                    <a href="/admin" class="navbar-brand d-flex d-lg-none me-4">
                        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                    </a>
                    <a href="#" class="sidebar-toggler flex-shrink-0">
                        <i class="fa fa-bars"></i>
                    </a>
                    <form class="d-none d-md-flex ms-4">
                        <input class="form-control bg-dark border-0" id="navbar-search" type="search" placeholder="Search">
                    </form>
                    <div class="navbar-nav align-items-center ms-auto">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <img class="rounded-circle me-lg-2" src="/adminAssets/img/user.jpg" alt=""
                                    style="width: 40px; height: 40px;">
                                <span class="d-none d-lg-inline-flex">John Doe</span>
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                                <a href="#" class="dropdown-item">My Profile</a>
                                <a href="#" class="dropdown-item">Settings</a>
                                <a href="/admin/login" class="dropdown-item">Log Out</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- Navbar End -->

                <!-- Table Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Categories</h6>
                            <div class="table-responsive ">
                                <table class="table" id="usersTable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Username</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(users.length> 0) { %>
                                            <% for (let i=0 ; i< users.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <%= users[i].username %>
                                                    </td>

                                                    <td>
                                                        <%= users[i].email %>
                                                    </td>

                                                    <td>
                                                        <%= users[i].mobile %>
                                                    </td>

                                                    <td>
                                                        <span id="status_<%= users[i]._id %>">
                                                            <% if(users[i].isBlocked) {%>
                                                                <span
                                                                    class="badge rounded-pill alert-warning">Blocked</span>
                                                                <% } else {%>
                                                                    <span
                                                                        class="badge rounded-pill alert-success">Active</span>
                                                                    <% } %>
                                                        </span>
                                                    </td>

                                                    <td>
                                                        <button
                                                            class="btn btn-sm rounded font-sm user-status bg-danger <% if(users[i].isBlocked) { %>bg-success<% } %>"
                                                            data-user-id="<%=users[i]._id%>"
                                                            data-current-status="<%=users[i].isBlocked ? 'blocked' : 'active' %>">
                                                            <% if(users[i].isBlocked) { %>
                                                                Unblock
                                                                <% } else { %>
                                                                    Block
                                                                    <% } %>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="5">Users not found</td>
                                                        </tr>
                                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Table End -->



                <%- include('../layout/adminLayouts/footer') -%>

                    <script>
                        // var $j = jQuery.noConflict()

                        // $j(document).ready(function () {
                        //     $j('#usersTable').DataTable({
                        //     })
                        // })

                        document.addEventListener('DOMContentLoaded', function () {
                            // console.log('dom content downloaded');
                            document.querySelectorAll('.user-status').forEach(function (button) {
                                button.addEventListener('click', function () {
                                    const userId = this.getAttribute('data-user-id');
                                    const currentStatus = this.getAttribute('data-current-status');
                                    const newStatus = (currentStatus === 'blocked') ? 'active' : 'blocked';

                                    // console.log('Button clicked for user ID:', userId);
                                    // console.log('Current status:', currentStatus);
                                    // console.log('New status:', newStatus);

                                    updateUserStatus(userId, newStatus);
                                })
                            })
                        })

                        function updateUserStatus(userId, action) {
                            console.log('Updating user status for user ID:', userId, 'Action:', action);

                            fetch(`/admin/users/${action}/${userId}`, {
                                method: 'POST'
                            })
                                .then((response) => response.json())
                                .then((data) => {
                                    console.log('Server response:', data);

                                    // Update the UI
                                    const statusElement = document.getElementById(`status_${userId}`);
                                    const button = document.querySelector(`.user-status[data-user-id="${userId}"]`);

                                    if (data.status === 'success') {
                                        const isBlocked = data.user.isBlocked;
                                        const statusText = isBlocked ? 'Blocked' : 'Active';
                                        const badgeClass = isBlocked ? 'alert-warning' : 'alert-success';

                                        const buttonClass = isBlocked ? 'bg-success' : 'bg-danger';

                                        statusElement.innerHTML = `<span class="badge rounded-pill ${badgeClass}">${statusText}</span>`;
                                        button.textContent = isBlocked ? 'Unblock' : 'Block';
                                        button.classList.remove(isBlocked ? 'bg-danger' : 'bg-success');
                                        button.classList.add(buttonClass);
                                    } else {
                                        console.log('Status update failed.');
                                    }
                                })
                                .catch((error) => {
                                    console.log("Error:", error);
                                })
                        }




                         // Search jQuery for the table and navbar
                         $(document).ready(function () {
                            // When the user types in either search box
                            $("#navbar-search, #name-search").on("keyup", function () {
                                var searchText = $(this).val().toLowerCase();

                                // Loop through each table row
                                $("table tbody tr").each(function () {
                                    var productName = $(this).find("td:eq(0)").text().toLowerCase(); // Get the product name in lowercase

                                    // If the product name contains the search text, show the row; otherwise, hide it
                                    if (productName.includes(searchText)) {
                                        $(this).show();
                                    } else {
                                        $(this).hide();
                                    }
                                });
                            });
                        });
                    </script>