<%- include('../layout/userLayouts/header') -%>
    <style>
        .choose-address {
            margin-bottom: 20px;
        }

        .address-list {
            display: flex;
            flex-direction: column;
        }

        .address-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
        }

        .address-item input {
            margin-right: 10px;
        }
    </style>

    <body>

        <!-- Start Header Area -->
        <header class="header_area sticky-header">
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light main_box">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <!-- <p>User Data: <%= JSON.stringify(locals.user) %></p> -->

                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
                                <li class="nav-item submenu dropdown">
                                    <a href="/shop" class="nav-link dropdown-toggle" role="button"
                                        aria-haspopup="true">Shop</a>
                                </li>
                                <li class="nav-item "><a class="nav-link" href="#">about</a></li>

                                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                                    <ul class="dropdown-menu">
                                        <% if (locals.user) { %>
                                            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                                            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                                            <% } else { %>
                                                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                                                <% } %>
                                    </ul>
                                </li>

                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
                                <li class="nav-item">
                                    <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="search_input" id="search_input_box">
                <div class="container">
                    <form class="d-flex justify-content-between">
                        <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                        <button type="submit" class="btn"></button>
                        <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                    </form>
                </div>
            </div>
        </header>
        <!-- End Header Area -->

        <!-- Start Banner Area -->
        <section class="banner-area organic-breadcrumb">
            <div class="container">
                <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                    <div class="col-first">
                        <h1>Checkout</h1>
                        <nav class="d-flex align-items-center">
                            <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                            <a href="single-product.html">Checkout</a>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Banner Area -->

        <!--================Checkout Area =================-->
        <section class="checkout_area section_gap">
            <div class="container">
                <form id="checkoutForm">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Choose Address</h3>
                            <div class="address-list border p-3">
                                <% if(user && user.address) { %>
                                    <% user.address.forEach((address, index)=> { %>
                                        <div class="address-item border p-3">
                                            <label>
                                                <input type="radio" name="address"
                                                    value="<%= address.name %> <%= address.houseName %> <%= address.city %> <%= address.state %> <%= address.mobile %> <%= address.pincode %>">
                                                <span>
                                                    <%= address.name %>
                                                </span>&nbsp;
                                                <span>
                                                    <%= address.houseName %>
                                                </span>&nbsp;
                                                <span>
                                                    <%= address.city %>
                                                </span>&nbsp;
                                                <span>
                                                    <%= address.state %>
                                                </span>&nbsp;
                                                <span>
                                                    <%= address.mobile %>
                                                </span>&nbsp;
                                                <span>
                                                    <%= address.pincode %>
                                                </span>
                                                <!-- <span class="ml-4"><a href="/editAddress/<%= address._id %>" class="edit-icon " style="color:orange">
                                                    <i class="fas fa-edit "></i>
                                                </a></span> -->
                                            </label>

                                        </div>
                                        <% }) %>
                                            <% } %>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <a href="/address?source=checkout" class="genric-btn info radius">Add Address</a>
                            </div>
                            <br>
                        </div>


                        <div class="col-md-6">
                            <div class="order_box">
                                <h2>Your Order</h2>
                                <ul class="list">
                                    <li><a href="#">Product <span>Total</span></a></li>
                                    <% if(cart) { %>
                                        <% cart.items.forEach(item=> { %>
                                            <li><a href="#">
                                                    <%= item.productId.name %><span class="middle">x <%= item.quantity
                                                                %></span> <span class="last">$<%= item.totalPrice %>
                                                        </span>
                                                </a></li>
                                            <% }) %>
                                                <% } else { %>

                                                    <% } %>
                                </ul>

                                <ul class="list list_2">
                                    <li><a href="#">Shipping <span>Flat rate: $00.00</span></a></li>
                                    <li><a href="#">Total <span>₹<%= subTotal %></span></a></li>
                                </ul>

                                <div class="payment_item">
                                    <div class="radion_btn">
                                        <input type="radio" id="f-option1" name="paymentMethod" value="COD">
                                        <label for="f-option1">Cash On Delivery</label>
                                        <div class="check"></div>
                                    </div>
                                </div>

                                <div class="payment_item">
                                    <div class="radion_btn">
                                        <input type="radio" id="f-option2" name="paymentMethod" value="razorpay">
                                        <label for="f-option2">Razorpay</label>
                                        <div class="check"></div>
                                    </div>
                                </div>


                                <button type="button" class="primary-btn">Place order</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!--================End Checkout Area =================-->

        <%- include('../layout/userLayouts/footer') -%>
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const placeOrderButton = document.querySelector('.primary-btn');

                    function getQueryParam(name) {
                        const urlParams = new URLSearchParams(window.location.search);
                        return urlParams.get(name);
                    }

                    const orderId = getQueryParam('orderId');

                    placeOrderButton.addEventListener('click', async function () {
                        const selectedAddressInput = document.querySelector('input[name="address"]:checked');
                        const selectedPaymentMethodInput = document.querySelector('input[name="paymentMethod"]:checked');

                        if (!selectedAddressInput) {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Oops...',
                                text: 'Please choose an address before placing the order!',
                            });
                            return;
                        }

                        if (!selectedPaymentMethodInput) {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Oops...',
                                text: 'Please choose a payment method before placing the order!',
                            });
                            return;
                        }

                        try {
                            const address = selectedAddressInput.value;
                            const paymentMethod = selectedPaymentMethodInput.value;

                            const response = await fetch('/placeOrder', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ address, paymentMethod }),
                            });

                            const responseData = await response.json();

                            if (responseData.success) {
                                window.location.href = '/confirmation?orderId=' + responseData.orderId;
                            } else {
                                if (responseData.error === "One or more products in your cart have insufficient stock.") {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Insufficient Stock',
                                        text: 'One or more products in your cart have insufficient stock.',
                                    });
                                } else {
                                    console.log('response.order: ', responseData.order)
                                    razorpayPayment(responseData.order);
                                }
                            }
                        } catch (error) {
                            console.error(error);
                            alert('An unexpected error occurred. Please try again.');
                        }
                    });
                });


                function razorpayPayment(order) {
                    console.log('razorPayment order :', order)
                    var options = {
                        "key": "rzp_test_h6GOIv1Khv2rKn", // Enter the Key ID generated from the Dashboard
                        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "Acme Corp", //your business name
                        "description": "Test Transaction",
                        "image": "https://example.com/your_logo",
                        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "handler": function (response) {
                            console.log('Razorpay handler called with response:', response);
                            verifyPayment(response, order)
                        },
                        "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                            "name": "Gaurav Kumar", //your customer's name
                            "email": "gaurav.kumar@example.com",
                            "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#3399cc"
                        }
                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.open();
                }

                function verifyPayment(payment, order) {
                    $.ajax({
                        url: '/verifyPayment',
                        data: {
                            payment,
                            order
                        },
                        method: 'post',
                        success: (response) => {
                            console.log('verify payment response',response)
                            if (response.success) {
                                location.href = '/confirmation?orderId='+ response.order.orderId
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Payment has failed',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            }
                        }
                    })
                }

            </script>