<%- include('../layout/userLayouts/profileHeader') -%>

    <style>
        body {
            background-color: #f4f4f4;
        }


        .card-header {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #f8f9fa;
            /* Add a background color if needed */
            padding: 15px;
            /* Add padding for spacing */
        }


        .card {
            border-radius: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
        }

        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .error-message {
            color: #dc3545;
            margin-top: 5px;
            font-size: 14px;
        }

        #updateProfileBtn,
        #updatePasswordBtn {
            width: 100%;
            margin-top: 20px;
        }
    </style>

    <body>
        <%- include('../layout/userLayouts/profileSidebar') -%>
            <%- include('../layout/userLayouts/profileNav') -%>

                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Edit Profile</h4>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12 pr-1">
                                                    <div class="form-group">
                                                        <label for="username">Name</label>
                                                        <input type="text" class="form-control" name="username"
                                                            value="<%= user.username %>">
                                                        <p id="usernameError" class="error-message"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 pl-1">
                                                <div class="form-group">
                                                    <label for="email">Email address</label>
                                                    <input type="email" class="form-control" name="email"
                                                        value="<%= user.email %>" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-12 pl-1">
                                                <div class="form-group">
                                                    <label for="mobile">Phone</label>
                                                    <input type="text" class="form-control" name="mobile"
                                                        value="<%= user.mobile%>">
                                                    <p id="mobileError" class="error-message"></p>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" id="updateProfileBtn"
                                                    class="btn btn-info btn-fill mb-2 ">Update Profile</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="col-md-10 mx-auto">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Edit Password</h4>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12 pr-1">
                                                    <div class="form-group">
                                                        <label for="currentPassword">Current Password</label>
                                                        <input type="password" name="currentPassword"
                                                            class="form-control" value="">
                                                        <p id="currentPasswordError" class="error-message"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 pl-1">
                                                <div class="form-group">
                                                    <label for="newPassword">New Password</label>
                                                    <input type="password" name="newPassword" class="form-control"
                                                        value="">
                                                    <p id="newPasswordError" class="error-message"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 pl-1">
                                                <div class="form-group">
                                                    <label for="confirmPassword">Confirm Password</label>
                                                    <input type="password" name="confirmPassword" class="form-control"
                                                        value="">
                                                    <p id="confirmPasswordError" class="error-message"></p>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" id="updatePasswordBtn"
                                                    class="btn btn-info btn-fill ">Update Password</button>
                                               <a href="/forgotPassword" class="btn btn-warning  mt-2">Forgot Password</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('../layout/userLayouts/profileFooter') -%>
                <script>
                    // AJAX call for updating profile
                    $('#updateProfileBtn').on('click', function (event) {
                        event.preventDefault();
                        var username = $('input[name="username"]').val();
                        var mobile = $('input[name="mobile"]').val();
                        var data = { username: username, mobile: mobile };

                        // Validate and then proceed with the update
                        if (validateAndUpdateProfile()) {
                            $.ajax({
                                type: 'PUT',
                                url: '/editProfile',
                                data: data,
                                success: function (response) {
                                    // Display SweetAlert for success
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Profile Updated!',
                                    }).then(() => {
                                        console.log('Profile updated successfully:', response);
                                        // Submit the form after successful update
                                        $('form').submit();
                                    });
                                },
                                error: function (error) {
                                    console.error('Error updating profile:', error);
                                }
                            });
                        }
                    });

                    function validateAndUpdateProfile() {
                        const username = document.getElementsByName("username")[0].value;
                        const mobile = document.getElementsByName("mobile")[0].value;

                        clearErrorMessages();

                        // Validate username
                        if (!username.trim()) {
                            displayErrorMessage("Name cannot be empty.", "usernameError");
                            return false;
                        } else if (username.length < 6) {
                            displayErrorMessage("Name should be at least 6 characters.", "usernameError");
                            return false;
                        }

                        // Validate mobile number
                        if (!mobile.trim()) {
                            displayErrorMessage("Mobile number cannot be empty.", "mobileError");
                            return false;
                        } else if (!/^\d{10}$/.test(mobile)) {
                            displayErrorMessage("Mobile number should be 10 digits.", "mobileError");
                            return false;
                        }

                        return true;
                    }


                    // AJAX call for updating password
                    $('#updatePasswordBtn').on('click', function (event) {
                        event.preventDefault()
                        let currentPassword = $('input[name="currentPassword"]').val();
                        let newPassword = $('input[name="newPassword"]').val();
                        let confirmPassword = $('input[name="confirmPassword"]').val();

                        // Validate and then proceed with the update
                        if (validateAndUpdatePassword()) {
                            let data = {
                                currentPassword: currentPassword,
                                newPassword: newPassword,
                                confirmPassword: confirmPassword
                            };

                            $.ajax({
                                type: 'PUT',
                                url: '/updatePassword',
                                data: data,
                                success: function (response) {
                                    // Display SweetAlert for success
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Password Updated!',
                                    }).then(() => {
                                        console.log('Password updated successfully:', response);
                                        // Submit the form after successful update
                                        $('form').submit();
                                    });
                                },
                                error: function (xhr, textStatus, errorThrown) {
                                    // Handle specific error cases
                                    if (xhr.status === 400) {
                                        // Display SweetAlert for existing password mismatch
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Error Updating Password',
                                            text: 'Old password is incorrect.',
                                        });
                                    } else {
                                        // Display generic error message for other errors
                                        console.error('Error updating password:', errorThrown);
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Error Updating Password',
                                            text: 'An error occurred while updating the password.',
                                        });
                                    }
                                }
                            });
                        }
                    });
                    function validateAndUpdatePassword() {
                        const currentPassword = document.getElementsByName("currentPassword")[0].value;
                        const newPassword = document.getElementsByName("newPassword")[0].value;
                        const confirmPassword = document.getElementsByName("confirmPassword")[0].value;

                        clearErrorMessages();

                        if (!currentPassword.trim()) {
                            displayErrorMessage("Current Password cannot be empty.", "currentPasswordError");
                            return false;
                        }

                        if (!newPassword.trim()) {
                            displayErrorMessage("New Password cannot be empty.", "newPasswordError");
                            return false;
                        }

                        if (!confirmPassword.trim()) {
                            displayErrorMessage("Confirm Password cannot be empty.", "confirmPasswordError");
                            return false;
                        }

                        if (newPassword !== confirmPassword) {
                            displayErrorMessage("New Password and Confirm Password do not match.", "confirmPasswordError");
                            return false;
                        }
                        const passwordRegex = /^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$/;

                        if (!passwordRegex.test(newPassword)) {
                            displayErrorMessage("Password should be at least 8 characters long, contain an uppercase letter, a digit, and a special character", "newPasswordError");
                            return false;
                        }

                        return true;
                    }

                    function displayErrorMessage(message, errorFieldId) {
                        const errorField = document.getElementById(errorFieldId);
                        errorField.innerHTML = `<p style="color: red;">${message}</p>`;
                    }

                    function clearErrorMessages() {
                        const errorFields = document.querySelectorAll(".error-message");
                        errorFields.forEach(function (errorField) {
                            errorField.innerHTML = "";
                        });
                    }

                </script>



                </html>