<%- include('../layout/userLayouts/header') -%>
	<style>
		.image-container {
			position: relative;
		}

		.offer-banner {
			position: absolute;
			top: 0px;
			right: 0px;
			background-color: #ff6600;
			color: #fff;
			padding: 5px 10px;
			font-size: 12px;
			font-weight: bold;
		}
	</style>

	<body>
		<%- include('../layout/userLayouts/navbar') -%>
			<!-- start banner Area -->
			<section class="banner-area">
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-start">
						<div class="col-lg-12">
							<% if (banners.length> 1) { %>
								<div class="active-banner-slider owl-carousel">
									<% for (let i=0; i < banners.length; i++) { %>
										<!-- single-slide -->
										<div class="row single-slide align-items-center d-flex">
											<div class="col-lg-5 col-md-6">
												<div class="banner-content">
													<h1>
														<%= banners[i].title %><br>
													</h1>
													<p>
														<%= banners[i].description %>
													</p>
													<!-- <div class="add-bag d-flex align-items-center">
														<a class="add-btn" href=""><span
																class="lnr lnr-cross"></span></a>
														<span class="add-text text-uppercase">Add to Bag</span>
													</div> -->
												</div>
											</div>
											<div class="col-lg-7">
												<div class="banner-img">
													<img class="img-fluid" src="/sharpImages/<%= banners[i].image[0] %>"
														alt="">
												</div>
											</div>
										</div>
										<% } %>
								</div>
								<% } else if (banners.length===1) { %>
									<!-- single-slide for a single banner -->
									<div class="row single-slide align-items-center d-flex">
										<div class="col-lg-5 col-md-6">
											<div class="banner-content">
												<h1>
													<%= banners[0].title %><br>
												</h1>
												<p>
													<%= banners[0].description %>
												</p>
												<div class="add-bag d-flex align-items-center">
													<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
													<span class="add-text text-uppercase">Add to Bag</span>
												</div>
											</div>
										</div>
										<div class="col-lg-7">
											<div class="banner-img">
												<img class="img-fluid" src="/sharpImages/<%= banners[0].image[0] %>"
													alt="">
											</div>
										</div>
									</div>
									<% } %>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- start features Area -->
			<section class="features-area section_gap">
				<div class="container">
					<div class="row features-inner">
						<!-- single features -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-features">
								<div class="f-icon">
									<img src="img/features/f-icon1.png" alt="">
								</div>
								<h6>Free Delivery</h6>
								<p>Free Shipping on all order</p>
							</div>
						</div>
						<!-- single features -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-features">
								<div class="f-icon">
									<img src="img/features/f-icon2.png" alt="">
								</div>
								<h6>Return Policy</h6>
								<p>Free Shipping on all order</p>
							</div>
						</div>
						<!-- single features -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-features">
								<div class="f-icon">
									<img src="img/features/f-icon3.png" alt="">
								</div>
								<h6>24/7 Support</h6>
								<p>Free Shipping on all order</p>
							</div>
						</div>
						<!-- single features -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-features">
								<div class="f-icon">
									<img src="img/features/f-icon4.png" alt="">
								</div>
								<h6>Secure Payment</h6>
								<p>Free Shipping on all order</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end features Area -->

			<!-- Start category Area -->
			<!-- <section class="category-area">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-12">
							<div class="row">
								<div class="col-lg-8 col-md-8">
									<div class="single-deal">
										<div class="overlay"></div>
										<img class="img-fluid w-100" src="img/category/c1.jpg" alt="">
										<a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
											<div class="deal-details">
												<h6 class="deal-title">Sneaker for Sports</h6>
											</div>
										</a>
									</div>
								</div>
								<div class="col-lg-4 col-md-4">
									<div class="single-deal">
										<div class="overlay"></div>
										<img class="img-fluid w-100" src="img/category/c2.jpg" alt="">
										<a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
											<div class="deal-details">
												<h6 class="deal-title">Sneaker for Sports</h6>
											</div>
										</a>
									</div>
								</div>
								<div class="col-lg-4 col-md-4">
									<div class="single-deal">
										<div class="overlay"></div>
										<img class="img-fluid w-100" src="img/category/c3.jpg" alt="">
										<a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
											<div class="deal-details">
												<h6 class="deal-title">Product for Couple</h6>
											</div>
										</a>
									</div>
								</div>
								<div class="col-lg-8 col-md-8">
									<div class="single-deal">
										<div class="overlay"></div>
										<img class="img-fluid w-100" src="img/category/c4.jpg" alt="">
										<a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
											<div class="deal-details">
												<h6 class="deal-title">Sneaker for Sports</h6>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="img/category/c5.jpg" alt="">
								<a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Sneaker for Sports</h6>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section> -->
			<!-- End category Area -->

			<!-- start product Area -->
			<div class="single-product-slider">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6 text-center">
							<div class="section-title">
								<h1>Latest Products</h1>
								<p></p>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- Loop through products -->
						<% products.forEach(product=> { %>
							<div class="col-lg-3 col-md-6">
								<div class="single-product">
									<div class="image-container">
										<!-- Display the offer banner if there is an offer -->
										<% if (product.offerPrice !==null && product.offerPrice !==undefined) { %>
											<div class="offer-banner">
												<%= product.offer.percentage %> % OFF
											</div>
											<% } %>
												<a href="/productDetails?id=<%= product._id %>"><img class="img-fluid" src="/sharpImages/<%= product.image[0] %>"
													alt="<%= product.name %>"></a>
									</div>
									<div class="product-details">
										<h6>
											<%= product.name %>
										</h6>
										<div class="price">
											<% if (product.offerPrice) { %>
												<h6 class="l-through text-danger">$<%= product.price.toFixed(2) %>
												</h6>
												<h6>₹<%= product.offerPrice.toFixed(2) %>
												</h6>
												<% } else { %>
													<h6>₹<%= product.price.toFixed(2) %>
													</h6>
													<% } %>
										</div>
										<div class="prd-bottom">
											<!-- Add your additional product details or actions here -->
										</div>
									</div>
								</div>
							</div>
							<% }); %>
					</div>
				</div>
			</div>
			<!-- end product Area -->





			<!-- Start brand Area -->
			<section class="brand-area section_gap">
				<div class="container">
					<div class="row">
						<a class="col single-img" href="#">
							<img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
						</a>
						<a class="col single-img" href="#">
							<img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
						</a>
						<a class="col single-img" href="#">
							<img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
						</a>
						<a class="col single-img" href="#">
							<img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
						</a>
						<a class="col single-img" href="#">
							<img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
						</a>
					</div>
				</div>
			</section>
			<!-- End brand Area -->



			<%- include('../layout/userLayouts/footer') -%>