<%- include('../layout/userLayouts/profileHeader') -%>


    <body>
        <%- include('../layout/userLayouts/profileSidebar') -%>
            <%- include('../layout/userLayouts/profileNav') -%>


                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <h4>Address <a href="/address?source=profile"><button
                                                class="btn btn-info btn-fill pull-right ">Add
                                                Address</button></a>
                                    </h4>
                                </div>
                                <% if(user && user.address) { %>
                                    <% user.address.forEach((address, index)=> { %>
                                        <div class="card bg-light">
                                            <div class="card-header " style="background-color: orange;">
                                                <h4 class="card-title"></h4>
                                            </div>
                                            <div class="card-body">
                                                <ul class="list">
                                                    <li><span>Name</span> : <%= address.name %>
                                                    </li>
                                                    <li><span>House Name</span> : <%= address.houseName %>
                                                    </li>
                                                    <li><span>Phone Number</span> : <%= address.mobile %>
                                                    </li>
                                                    <li><span>City</span> : <%= address.city %>
                                                    </li>
                                                    <li><span>State </span> : <%= address.state %>
                                                    </li>
                                                    <li><span>Pincode </span> : <%= address.pincode %>
                                                    </li>
                                                </ul>
                                                <button type="button" class="btn btn-gray btn-fill pull-right"
                                                    onclick="editAddress('<%= address._id %>')">Edit</button>
                                                <button type="button" class="btn btn-danger btn-fill pull-right mr-2"
                                                    onclick="deleteAddress('<%= address._id %>')">Delete</button>

                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                         <div class="clearfix"></div> -->
                <%- include('../layout/userLayouts/profileFooter') -%>


                    <script>
                        function deleteAddress(addressId) {
                            Swal.fire({
                                title: 'Are you sure?',
                                text: 'You won\'t be able to revert this!',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes, delete it!'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    fetch(`/deleteAddress/${addressId}`, {
                                        method: 'DELETE'
                                    })
                                        .then(response => {
                                            if (response.ok) {
                                                Swal.fire(
                                                    'Deleted!',
                                                    'Your address has been deleted.',
                                                    'success'
                                                ).then(() => {
                                                    location.reload();
                                                });
                                            } else {
                                                console.error('Failed to delete address');
                                            }
                                        })
                                        .catch(error => console.error('Error:', error));
                                }
                            });
                        }
                        //edit address
                        function editAddress(addressId) {
                            window.location.href = '/editAddress?addressId=' + addressId;
                        }

                        //add address
                        function addAddress() {
                            const source = 'profile';
                            window.location.href = `/address?source=${source}`;
                        }
                    </script>



                    </html>