<%- include('../layout/userLayouts/header')-%>


    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Confirmation</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Confirmation</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Order Details Area =================-->
    <section class="order_details section_gap">
        <div class="container">
            <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
            <div class="row order_d_inner">
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Order Info</h4>
                        <ul class="list">
                            <li><a href="#"><span>Order Id</span> : <%= order.orderId %></a></li>
                            <li><a href="#"><a href="#"><span>Expected Delivery</span> : <%=
                                            moment(order.date).format('dddd, MMM Do YYYY') %></a></li>
                            <li><a href="#"><span>Total</span> : ₹ <%= order.totalAmount %></a></li>
                            <li><a href="#"><span>Payment method</span> : <%= order.payment %></a></li>
                            <% if (order.totalDiscountAmount) { %>
                                <li><a href="#"><span>Discount</span> : ₹ <%= order.totalDiscountAmount %></a></li>
                                <% } %>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-4">
					<div class="details_item">
						<h4>Billing Address</h4>
						<ul class="list">
							<li><a href="#"><span>Street</span> : 56/8</a></li>
							<li><a href="#"><span>City</span> : Los Angeles</a></li>
							<li><a href="#"><span>Country</span> : United States</a></li>
							<li><a href="#"><span>Postcode </span> : 36952</a></li>
						</ul>
					</div>
				</div> -->
                <div class="col-lg-8">
                    <div class="details_item">
                        <h4>Shipping Address</h4>
                        <ul class="list">
                            <li><a href="#"><span>Address</span> : <%= order.deliveryAddress %></a></li>
                            <!-- <li><a href="#"><span>City</span> : Los Angeles</a></li>
							<li><a href="#"><span>Country</span> : United States</a></li>
							<li><a href="#"><span>Postcode </span> : 36952</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="order_details_table">
                <h2>Order Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.items.forEach(item=> { %>
                                <tr>
                                    <td>
                                        <p>
                                            <%=item.productId.name%>
                                        </p>
                                    </td>
                                    <td>
                                        <h5>x <%=item.quantity%>
                                        </h5>
                                    </td>
                                    <td>
                                        <p>₹<%=item.totalPrice%>
                                        </p>
                                    </td>
                                </tr>
                                <% }) %>
                                    <tr>
                                        <td>
                                            <h4>Subtotal</h4>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                        <td>
                                            <p>₹<%=order.totalAmount%>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4>Shipping</h4>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                        <td>
                                            <p>Flat rate: ₹00.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4>Total</h4>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                        <td>
                                            <p>₹<%=order.totalAmount%>
                                            </p>
                                        </td>
                                    </tr>
                                    <td>
                                        <a href="/shop" class="genric-btn info e-large">continue shopping</a>
                                    </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Order Details Area =================-->

    <%- include('../layout/userLayouts/footer') -%>