<%- include('../layout/userLayouts/profileHeader') -%>

<body>
    <%- include('../layout/userLayouts/profileSidebar') -%>
        <%- include('../layout/userLayouts/profileNav') -%>

            <div class="content">
                <div class="container-fluid ">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <% orders.forEach(order=> { %>
                                <% if(order.items && order.items.length> 0) {%>
                                    <% order.items.forEach(item=> { %>
                                        <div class="card ">
                                            <div class="card-header ">
                                                <h4 class="card-title ">
                                                    #Order ID : <%= order.orderId %>
                                                </h4>
                                                <hr>

                                                <div class="card-body bg-light">
                                                        <img src="/sharpImages/<%= item.productId.image[0] %>"
                                                            class="img-sm img-thumbnail mb-2" alt="" width="120px"
                                                            height="50px"><br>
                                                        <span>Product Name : <%= item.productId.name %>
                                                        </span><br><br>
                                                        <span>Quantity : <%= item.quantity %>
                                                        </span><br><br>
                                                    <span>Total Price : <%= item.totalPrice %></span><br><br>
                                                    <!-- <span>Order Date : <%= moment(order.date).format('dddd, MMMM Do') %>
                                                            </span><br><br> -->
                                                    <span> Delivery Address: <%= order.deliveryAddress %></span><br><br>
                                                    <span>Payment Method : <%= order.payment %></span><br><br>
                                                    <span>Expected Delivery : <%= order.expectedDelivery %>
                                                    </span><br><br>
                                                    <% if (item.orderStatus === 'delivered') { %>
                                                        <span class="text-success">Order has been delivered successfully</span>
                                                    <% } else if (item.orderStatus === 'placed') { %>
                                                        <span class="text-success">Order has been placed successfully</span>
                                                    <% } else if (item.orderStatus === 'request_return') { %>
                                                        <span class="text-info">Request sent for returning the order</span>
                                                    <% } else if (item.orderStatus === 'returned') { %>
                                                        <span class="text-success">Order returned successfully</span>
                                                    <% } else if (item.orderStatus === 'cancelled') { %>
                                                        <span class="text-success">Order cancellation successful</span>
                                                    <% } else if (item.orderStatus === 'request_cancellation') { %>
                                                        <span class="text-info">Request sent for canceling the order</span>
                                                    <% } else { %>
                                                        <span>Status: <span style="color: red;"><%= item.orderStatus %></span></span><br><br>
                                                    <% } %>
                                                    


                                                </div>
                                                <!-- <a href=""> <button type="button" class="btn btn-info btn-fill pull-right mr-4 mt-2 mb-2">view Order</button></a> -->
                                                <% if (item.orderStatus==='placed' || item.orderStatus==='shipped' ||
                                                    item.orderStatus==='out_for_delivery' ) { %>
                                                    <a href="">
                                                        <button type="button"
                                                            class="btn btn-danger btn-fill pull-right mr-4 mt-2 mb-2"
                                                            onclick="cancelOrder('<%= order.orderId %>','<%= item._id %>',event)">
                                                            Cancel Order
                                                        </button>
                                                    </a>
                                                    <% } %>


                                                        <% if (item.orderStatus==='delivered' ) { %>
                                                            <!-- Add your new button here -->
                                                            <button type="button"
                                                                class="btn btn-primary btn-fill pull-right mr-4 mt-2 mb-2"
                                                                onclick="returnOrder('<%= order.orderId %>','<%= item._id %>',event)">
                                                                Return
                                                            </button>
                                                            <% } %>
                                            </div>
                                        </div>


                                        <% }) %>
                                            <% }%>
                                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../layout/userLayouts/profileFooter') -%>

<script>
    //Cancel Order
    function cancelOrder(orderId, itemId, event) {
        event.preventDefault()
        Swal.fire({
            title: 'Are you sure?',
            text: 'Please provide a reason for the cancellation:',
            input: 'text',
            showCancelButton: true,
            confirmButtonText: 'Cancel Order',
            cancelButtonText: 'Close',
            preConfirm: (reason) => {
                return fetch('/cancelOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        orderId: orderId,
                        itemId: itemId,
                        reason: reason,
                    }),
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to cancel order');
                        }
                    })
                    .catch(error => {
                        Swal.showValidationMessage(`Request failed: ${error}`);
                    });
            },
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Order Cancellation requested!',
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonText: 'OK'
                }).then(() => {
                    window.location.href = '/singleOrder?orderId=' + orderId;
                });
            }
        });
    }

    //Return Order
    function returnOrder(orderId, itemId, event) {
        event.preventDefault()
        Swal.fire({
            title: 'Are you sure?',
            text: 'Please provide a reason for the return:',
            input: 'text',
            showCancelButton: true,
            confirmButtonText: 'Return Order',
            cancelButtonText: 'Close',
            preConfirm: (reason) => {
                return fetch('/returnOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        orderId: orderId,
                        itemId: itemId,
                        returnReason: reason,
                    }),
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to return order');
                        }
                    })
                    .catch(error => {
                        Swal.showValidationMessage(`Request failed: ${error}`);
                    });
            },
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Order Return requested!',
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonText: 'OK'
                }).then(() => {
                    window.location.href = '/singleOrder?orderId=' + orderId;
                });
            }
        });
    }
</script>

</html>