<%- include('../layout/userLayouts/profileHeader') -%>

    <style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #ddd;
            /* Add border to create a button-like appearance */
            margin: 0 4px;
            /* Add spacing between pagination buttons */
        }

        .pagination a.active {
            background-color: #ff931f;
            color: white;
        }
    </style>


    <body>
        <%- include('../layout/userLayouts/profileSidebar') -%>
            <%- include('../layout/userLayouts/profileNav') -%>

                <div class="content">
                    <div class="container-fluid ">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <% if(orders && orders.length> 0) { %>
                                    <% orders.forEach(order=> { %>
                                        <div class="card ">
                                            <div class="card-header ">
                                                <h4 class="card-title ">
                                                    #Order ID : <%= order.orderId %>
                                                </h4>
                                                <hr>

                                                <div class="card-body bg-light">
                                                    <span>Total Amount :₹ <%= order.totalAmount %></span><br><br>
                                                    <span>Order Date : <%= moment(order.date).format('dddd, MMMM Do YYYY') %></span><br><br>
                                                    <span> Delivery Address: <%= order.deliveryAddress %></span><br><br>
                                                    <span>Payment Method : <%= order.payment %></span><br><br>
                                                    <span>Expected Delivery : <%= order.expectedDelivery %>
                                                            </span><br><br>
                                                </div>
                                                <a href="/singleOrder?orderId=<%= order.orderId %>"> <button
                                                        type="button"
                                                        class="btn btn-info btn-fill pull-right mr-4 mt-2 mb-2">view
                                                        Order</button></a>
                                                <a href="/invoice?orderId=<%=order.orderId%>"> <button type="button"
                                                        class="btn btn-danger btn-fill pull-right mr-4 mt-2 mb-2">Download
                                                        Invoice</button></a>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } else { %>
                                                <div class="card text-center">
                                                    <div class="card-header">
                                                        <h4 class="card-title"></h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text text-danger">You haven't placed any orders
                                                            yet.
                                                        </p>
                                                    </div>
                                                </div>
                                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                                <%= i %>
                            </a>
                            <% } %>
                    </div>
                </div>

                <%- include('../layout/userLayouts/profileFooter') -%>

                    </html>